/*
common
********/

*{
    font-family:'Times New Roman', Times, serif
}

.like img{
    width: 20px;
}

html,
body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url("../img/spare.jpg");
    background-repeat: repeat;
    background-size: 100%;
    background-color: #ccc;
}
.content{
    max-width: 600px;
        margin: 0 auto;
    border-left: 1px solid #ccc;
    background-color: rgb(12 253 224 / 25%);
    border-right: 1px solid #ccc;
}
/******
Post
********/

.posts ul{
    padding: 0;
}

.post_form
{
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
    
}

.post_form input
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(245 253 12 / 36%);
}

.post_form input[type="text"] {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;

}
.textarea-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input::placeholder, textarea::placeholder{
    color: black;
    font-size: 12px;
    font-family: cursive;
    font-weight: bolder;
}

.post_form textarea
{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgb(245 253 12 / 36%);
}


.menu_icon
{
    width: 20px;
    position: absolute;
    top: 10px;
    right: 18px;

}
.posts li{
    position: relative;
    display: flex;
    padding: 17px;
    border-top: 1px solid;
}

.posts li .menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;

}

.posts li .menu a
{
    text-decoration: none;
}
.posts li .logo
{
    flex-basis: 15%;
}

.posts li .logo img
{
    width: 60%;
}

.posts li .name_body
{
    flex-basis: 85%;
}

.posts li .name_body .name_body
{
    font-weight: bold;
}

.posts li .name_body .datetime
{
    color: gray;
}
.content .header{
    display: flex;
    align-items:center;
}
.post-img{
    width: 70%;
    border-radius: 20px;
}
input.upload{
    width: 80%;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name
    {
        font-size: 20px;
    }
    
}

